# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../base\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../:\Users\piwenjing\Desktop\base\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
